<template name="Home">
  <div id="tree" style="height: 100%;width: 100%;position: absolute;top: 0;left: 0;"></div>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" rel="stylesheet">
</template>
