<template name="Nav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'Home'}}">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{isActiveRoute 'Nodes'}}"><a href="{{pathFor 'Nodes'}}">Nodes</a></li>
          <li class="{{isActiveRoute 'Edges'}}"><a href="{{pathFor 'Edges'}}">Edges</a></li>
          <li class="{{isActiveRoute 'Links'}}"><a href="{{pathFor 'Links'}}">Links</a></li>
          <li class="{{isActiveRoute 'Tags'}}"><a href="{{pathFor 'Tags'}}">Tags</a></li>
        </ul>
        <form class="js-search navbar-form navbar-left" role="search">
          <div class="form-group">
            <input class="form-control" placeholder="Search" name="query" type="text">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </nav>
</template>
