#root {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff0;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.clickable {
  cursor: pointer;
}

.circle-with-text {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

div.modal-dialog.d-flex.align-items-end.h-100.m-0.animated.slideInUp {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
