.full-height {
  min-height: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff0;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
