<template name="edgeNodeForm">
  <form class="form-inline">
    <input class="form-control input-sm" name="{{name}}" placeholder="{{name}}" list="nodes" autocomplete="off">
    <datalist id="tags">
      {{#each node in allNodes}}
        <option value="{{node.title}}"></option>
      {{/each}}
    </datalist>
  </form>
</template>
