<template name="edges">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>Edges</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <form class="new-item form-inline">
        <input class="form-control input-sm" name="from" placeholder="from" list="nodes" autocomplete="off">
        <input class="form-control input-sm" name="to" placeholder="to" list="nodes" autocomplete="off">
        <datalist id="nodes">
          {{#each node in allNodes}}
            <option value="{{node._id}}">{{node.title}}</option>
          {{/each}}
        </datalist>
        <button type="submit" class="btn btn-primary btn-sm">Add edge</button>
      </form>
    </div>
    {{#if hasSelected}}
    <div class="col-lg-2 pull-right">
      <form class="action form-inline">
        <select class="form-control input-sm" name="action">
          <option value="REMOVE">Remove</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Apply</button>
      </form>
    </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="col-icon"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
            <th class="col-lg-3">From Node</th>
            <th class="col-lg-3">To Node</th>
            <th>Tags</th>
            <th class="col-lg-1">Created at</th>
          </tr>
        </thead>
        <tbody>
          {{#each itm in allEdges}}
            <tr>
              <td>
                {{> selectable onSelect=(onSelect itm)}}
              </td>

              {{# editable_td item=itm name="from" value=itm.getFromNode.title}}
                {{> edgeNodeForm}}
              {{else}}
                {{itm.getFromNode.title}}
              {{/ editable_td}}

              {{# editable_td item=itm name="to" value=itm.getToNode.title}}
                {{> edgeNodeForm}}
              {{else}}
                {{itm.getToNode.title}}
              {{/ editable_td}}

              {{# editable_td item=itm name="tag" value=""}}
                {{> edgeTagForm }}
              {{else}}
                {{#each tag in itm.getTags}}
                  <span class="label label-primary pull-right" style="{margin-left:3px;}">{{tag.title}}</span>
                {{/each}}
              {{/ editable_td}}

              <td>{{itm.createdAt.toLocaleDateString}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
