<template name="Nodes">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>Nodes</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <form class="new-item form-inline">
        <input class="form-control input-sm" name="title" placeholder="title" autocomplete="off">
        <input class="form-control input-sm" name="description" placeholder="description" autocomplete="off">
        <button type="submit" class="btn btn-primary btn-sm">Add node</button>
      </form>
    </div>
    {{#if hasSelected}}
    <div class="col-lg-2 pull-right">
      <form class="action form-inline">
        <select class="form-control input-sm" name="action">
          <option value="REMOVE">Remove</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Apply</button>
      </form>
    </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="col-icon"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
            <th class="col-1-5">Title</th>
            <th>Description</th>
            <th class="col-lg-1">Created at</th>
            <th class="col-icon"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></th>
          </tr>
        </thead>
        <tbody>
          {{#each itm in allNodes}}
            <tr>
              <td>
                {{> selectable onSelect=(onSelect itm)}}
              </td>

              {{# editable_td item=itm name="title" value=itm.title}}
                {{> text_input}}
              {{else}}
                {{itm.title}}
              {{/ editable_td}}

              {{# editable_td item=itm name="description" value=itm.description}}
                {{> text_input}}
              {{else}}
                <div class="hide-text-overflow">{{itm.description}}</div>
              {{/ editable_td}}

              <td>{{itm.createdAt.toLocaleDateString}}</td>

              <td>
                <a href="{{pathFor 'Node' _id=itm._id}}">
                  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
