body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clickable {
  cursor: pointer;
}

.node {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

div.modal-dialog.d-flex.align-items-end.h-100.m-0.animated.slideInUp {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
