<template name="Links">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        <h1>Links</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <form class="js-new-item form-inline">
        <input class="form-control input-sm" name="title" placeholder="title" autocomplete="off">
        <input class="form-control input-sm" name="description" placeholder="description" autocomplete="off">
        <input class="form-control input-sm" name="url" placeholder="url" autocomplete="off">
        <button type="submit" class="btn btn-primary btn-sm">Add link</button>
      </form>
    </div>
    {{#if hasSelected}}
    <div class="col-lg-2 pull-right">
      <form class="js-action form-inline">
        <select class="form-control input-sm" name="action">
          <option value="REMOVE">Remove</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Apply</button>
      </form>
    </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="col-icon"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></th>
            <th>Url</th>
            <th class="col-lg-4">Tags</th>
            <th class="col-lg-1">Created at</th>
          </tr>
        </thead>
        <tbody>
          {{#each itm in allLinks}}
            <tr>
              <td>
                {{> selectable onSelect=(onSelect itm)}}
              </td>

              {{# editable_td item=itm name="url" value=itm.url}}
                {{> text_input}}
              {{else}}
                <div class="hide-text-overflow">{{itm.url}}</div>
              {{/ editable_td}}

              {{# editable_td item=itm name="tag" value=""}}
                {{> linkTagForm }}
              {{else}}
                {{#each tag in itm.getTags}}
                  <span class="label label-primary pull-right" style="{margin-left:3px;}">{{tag.title}}</span>
                {{/each}}
              {{/ editable_td}}

              <td>{{itm.createdAt.toLocaleDateString}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
