<template name="linkTr">
  <tr>
    <td class="col-lg-7"><a target="_blank" href="{{link.url}}">{{link.url}}</a></td>
    {{# editable_td item=link name="tag" value=""}}
      {{> linkTagForm }}
    {{else}}
      {{#each tag in link.getTags}}
        <span class="label label-primary pull-right" style="{margin-left:3px;}">{{tag.title}}</span>
      {{/each}}
    {{/ editable_td}}
    <td class="col-icon"><span class="js-remove glyphicon glyphicon-remove clickable text-danger pull-right" aria-hidden="true"></span></td>
  </tr>
</template>
