#root {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff0;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.clickable {
  cursor: pointer;
}

.node {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}
