<template name="Node">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-12">
        {{#editable item=node name="title" value=node.title class="input-lg" formClass="form-inline" }}
          {{> text_input}}
        {{else}}
          <h1 class="title">{{node.title}}</h1>
        {{/editable}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4 class="description">Description</h4>
      {{#editable item=node name="description" value=node.description}}
        {{> text_input}}
      {{else}}
        <p class="description">{{node.description}}</p>
      {{/editable}}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Tags</h4>
      {{> nodeGraph }}
      <form class="js-toggle-tag form-inline">
        <input class="form-control input-sm" name="title" placeholder="Toggle tags" list="tags" autocomplete="off">
        <datalist id="tags">
          {{#each tag in allNodes}}
            <option value="{{tag.title}}"></option>
          {{/each}}
        </datalist>
      </form>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-12">
      <h4>Links</h4>
      <table class="links table table-hover table-bordered">
        <tbody>
          {{#each link in node.getLinks}}
            {{> linkTr link=link remove=removeLink}}
          {{/each}}
        </tbody>
      </table>
      <form class="js-add-link">
        <input class="form-control input-sm" name="url" placeholder="url" autocomplete="off">
      </form>
    </div>
  </div>
  <hr>
  <footer>
    <h6>Created at: {{node.createdAt.toLocaleString}}, Last updated: {{node.lastUpdated.toLocaleString}}</h6>
  </footer>
</template>
