<template name="edgeTagForm">
  <form class="form-inline">
    <input class="form-control input-sm" name="{{name}}" placeholder="{{name}}" list="edgeTags" autocomplete="off">
    <datalist id="edgeTags">
      {{#each tag in allTags}}
        <option value="{{tag.title}}"></option>
      {{/each}}
    </datalist>
  </form>
</template>
